<template>
    <div class="grip" style="background-color: #fff;">
        <div style="padding: 50px;">
            <div>
                <router-link to="/admin/order" style="text-decoration: none;font-size: 18px;color: #18a55b;">
                    <p style="margin-bottom: 35px;">
                        <b-icon icon="arrow-left" style="margin-right: 10px;"></b-icon>
                        Thêm mới hóa đơn
                    </p>
                </router-link>
            </div>
            <div class="row">
                <div class="create_produc col-sm-6 col-xs-12">
                    <div>
                        <label for="inputState">Tên hóa đơn<span class="text-danger">*</span></label>
                        <input type="text" placeholder="Nhập tên hóa đơn" v-model="orders.ten"
                            style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
                    </div>
                </div>
                <div class="create_produc col-lg-6 col-sm-6 col-xs-12">
                    <div>
                        <label for="inputState">Phân loại sản phẩm<span class="text-danger">*</span></label>
                        <select v-model="orders.sanPham"
                            style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
                            <option v-for="(product, index) in products" :key="index">{{ product.ten }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="product_add">
                <div style="padding-bottom: 22px;">
                    <label for="inputState">Người mua<span class="text-danger">*</span></label>
                    <input type="text" placeholder="Nhập người mua" v-model="orders.nguoiMua"
                        style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
                </div>
                <div style="padding-bottom: 22px;">
                    <label for="inputState">Số điện thoại<span class="text-danger">*</span></label>
                    <input type="number" placeholder="Nhập số điện thoại" v-model="orders.phone"
                        style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
                </div>
                <div style="padding-bottom: 22px;">
                    <label for="inputState">Địa chỉ<span class="text-danger">*</span></label>
                    <input type="text" placeholder="Nhập địa chỉ" v-model="orders.diaChi"
                        style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">

                </div>
            </div>
            <div style="padding-bottom: 22px;">
                <label for="inputState">Ngày mua<span class="text-danger">*</span></label>
                <input type="date" placeholder="Nhập ngày mua" v-model="orders.ngayMua"
                    style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
            </div>
            <div class="order_list " style="padding-bottom: 22px; display: flex; justify-content: space-between;">
                <div class="create_produc">
                    <label for="inputState">Trạng thái<span class="text-danger">*</span></label>
                    <div>
                        <b-form-select v-model="orders.trangThai"
                            style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
                            <option>0</option>
                            <option>1</option>
                        </b-form-select>
                    </div>
                </div>
                <div class="order_list-date" style="width: 500px;">
                    <label for="inputState">Ngày tạo<span class="text-danger">*</span></label>
                    <input type="date" placeholder="Nhập ngày mua" v-model="orders.ngayTao"
                        style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
                </div>
            </div>
            <div style="text-align: right; padding:22px 0;">
                <b-button variant="success" @click="createOrder">Thêm mới</b-button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'
export default {
    data() {
        return {
            products: [],
            orders: {
                ten: '',
                sanPham: [],
                nguoiMua: '',
                phone: '',
                diaChi: '',
                ngayMua: '',
                trangThai: '',
                ngayTao: ''
            },
        }
    },
    methods: {
        ...mapActions('order', ['CreateOrder', 'ListProduct']),
        validator() {
            let mappingErrorName = {
                ten: 'Tên hóa đơn',
                sanPham: 'Phân loại sản phẩm',
                nguoiMua: 'Người mua',
                phone: 'Số điện thoại',
                diaChi: 'Địa chỉ',
                ngayMua: 'Ngày mua',
                trangThai: 'Trạng thái',
                ngayTao: 'Ngày tạo'
            }
            for (let key in mappingErrorName) {
                if (this.orders[key].length < 1) {
                    Swal.fire(mappingErrorName[key] + ` không được trống`, '', 'warning')
                    return false
                }
            }
            return true
        },
        async listproduct() {
            let response = await this.ListProduct()
            console.log(response);
            this.products = response.data
        },
        async createOrder() {
            if (!this.validator()) return;
            Swal.fire({
                title: 'Lưu thay đổi?',
                showCancelButton: true,
                cancelButtonText: 'Bỏ qua',
                confirmButtonText: 'Lưu',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    let response = await this.CreateOrder(this.orders)
                    console.log(response);
                    this.$router.push({ name: 'admin.order' })
                }
            })
        }
    },
    created() {
        this.listproduct()
    }
}
</script>
<style scoped>
.grip {
    width: 1300px;
    max-width: 100%;
}

label {
    font-weight: 600;
}

@media (max-width:739px) {
    .order_list {
        display: block !important;
    }

    .order_list-date {
        width: 100% !important;
    }
    .create_produc{
        margin-bottom: 22px;
    }
}
</style>