<template>
<div class="grip">
    <div class="grip-border-btn row" style="padding: 50px;background-color: #fff;display: flex; justify-content: space-between; margin-bottom: 22px; --bs-gutter-x: 0">
        <div class="input_search col-sm-6 col-xs-12">
            <input type="text" placeholder="Nhập để tìm kiếm" v-model="search" style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
        </div>
        <div class="input_button col-sm-6 col-xs-12" style="text-align: right;">
            <router-link to="/admin/order/create">
                <b-button variant="success">
                    <b-icon icon="plus"></b-icon>
                    Thêm mới
                </b-button>
            </router-link>
       </div>
    </div>
    <div class="grip-table table-responsive" style="padding: 50px;background-color: #fff;">
        <b-table-simple class="table tbody-tr" style="background-color: #fcfcfc;font-size: 18px;">
            <b-thead>
                <b-tr>
                    <b-th style="text-align: left; padding: 15px;min-width: 150px;">Stt</b-th>
                    <b-th style="text-align: left; padding: 15px;min-width: 150px;">Tên hóa đơn</b-th>
                    <b-th style="text-align: left; padding: 15px;min-width: 150px;">Người mua</b-th>
                    <b-th style="text-align: left; padding: 15px;min-width: 150px;">Ngày mua</b-th>
                    <b-th style="text-align: left; padding: 15px;min-width: 150px;">Tình trạng</b-th>
                    <b-th style="text-align: right;"></b-th>
                </b-tr>
            </b-thead>
            <b-tbody v-if="orderlist.length > 0" >
                <b-tr v-for="(order, index) in orderlist" :key="index">
                    <b-th style="text-align: left; padding: 15px;">{{ index + 1 }}</b-th>
                    <b-td style="text-align: left; padding: 15px; min-width: 150px">{{ order.ten }}</b-td>
                    <b-td style="text-align: left; padding: 15px;">{{ order.nguoiMua }}</b-td>
                    <b-td style="text-align: left; padding: 15px;">{{ order.ngayMua }}</b-td>
                    <b-td style="text-align: left; padding: 15px;">
                        <b-button class="btn bg-white"
                            :class="{ 'btn-outline-danger': order.trangThai == 0, 'btn-outline-success': order.trangThai == 1 }"
                            @click="status(order._id, order.trangThai)">
                            {{ order.trangThai == 1 ? "Đã duyệt" : "Chưa duyệt" }}
                            </b-button>
                    </b-td>
                    <b-td style="text-align: right; cursor: pointer; font-size: 18px; min-width: 100px" class="hover">
                        <span @click="$router.push({ name: 'admin.order.order-details', params: { id: order._id }})" style="margin-right: 10px;">
                            <b-icon icon="eye"></b-icon>
                        </span>
                        <span>
                            <b-icon
                                style="margin-right: 10px;color: #18a55b;"
                                class="icon-class" @click="$router.push({ name: 'admin.order.update', params: { id: order._id }})" icon="pencil-square"></b-icon>
                            <b-icon
                                    style="color: #ef5350"
                                    class="icon-class" @click="deleteOrder(order._id)" icon="trash"></b-icon>
                        </span>
                    </b-td>
                </b-tr>
            </b-tbody>
            <b-tbody style="text-align: center;display: table-caption;padding-top: 50px;" v-else>
                Không có dữ liệu
            </b-tbody>
        </b-table-simple>
    </div>
</div>
</template>
<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'
export default {
    data(){
        return{
            orders:[],
            search:''
        }
    },
    methods:{
        ...mapActions('order',["ListOrder","Change_Status","DeleteOrder"]),
        async listOrder(){
            let response = await this.ListOrder(this.order)
            console.log(response);
            this.orders = response.data
        },
        async status(id,trangThai){
            Swal.fire({
                title: 'Bạn có muốn thay đổi trạng thái không?',
                showCancelButton: true,
                confirmButtonText: 'Lưu',
                cancelButtonText:'Bỏ qua',
            }).then(async (result) => {
                if (result.isConfirmed) {  
                    if(trangThai ===1){
                        trangThai=0
                    }
                    else{
                        trangThai=1
                    }
                    await this.Change_Status({id,trangThai}),
                    this.listOrder()
                }
            })   
        },
        async deleteOrder(id) {
            Swal.fire({
                title: 'Bạn có muốn xóa không?',
                showCancelButton: true,
                confirmButtonText: 'Đồng ý',
                cancelButtonText:'Bỏ qua',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    await this.DeleteOrder(id);
                    Swal.fire('Đã xóa!', '', 'success')
                    this.listOrder()
                }
            })   
        },
    },
    created(){
        this.listOrder()
    },
    computed:{
        orderlist(){
            return this.orders.filter((element) =>{
                return element.ten.match(this.search)
            })
        }
    }
}
</script>
<style scoped>
.grip{
    width: 1300px;
    max-width: 100%;
}
.hover:hover{
    color: #18a55b;
}
.color_pen:hover{
    background-color: #18a55b;
    
}
.color_train:hover{
    background-color: #ef5350;
    
}
.tbody-tr tbody tr:last-of-type {
    border-bottom: 2px solid #18a55b;
}
@media (max-width:739px){
    .input_search{
        margin-bottom: 18px;
    }
    .input_button{
        text-align: right;
    }
}
</style>