<template>
<div class="grip" style="background-color: #fff;">
    <div style="padding: 50px;">
        <div>
            <router-link to="/admin/order" style="text-decoration: none;font-size: 18px;color: #18a55b;">
                <p style="margin-bottom: 35px;">
                    <b-icon icon="arrow-left" style="margin-right: 10px;"></b-icon>
                    Chi tiết hóa đơn
                </p>
            </router-link>
        </div>
        <div>
            <div class="product_add-name" style="display: flex;">
                <label for="inputState" style="margin-right: 22px;">Tên hóa đơn:</label>
                <p>
                    {{orders.ten}}
                </p>
            </div>
            <div class="product_add-name" style="display: flex;">
                <label for="inputState" style="margin-right: 22px;">Sản phẩm đã mua:</label>
                <p>{{orders.sanPham}}</p>    
            </div>
        </div>
        <div>
            <div class="product_add-name" style="display: flex;">
                <label for="inputState" style="margin-right: 22px;">Người mua:</label>
                <p>{{orders.nguoiMua}}</p>
            </div>
            <div class="product_add-name" style="display: flex;">
                <label for="inputState" style="margin-right: 22px;">Số điện thoại:</label>
                <p>{{orders.phone}}</p>
            </div>
            <div class="product_add-name" style="display: flex;">
                <label for="inputState" style="margin-right: 22px;">Địa chỉ:</label>
                <p>{{orders.diaChi}}</p>
            </div>
        </div>
        <div class="product_add-name" style="display: flex;">
            <label for="inputState" style="margin-right: 22px;">Ngày mua:</label>
            <p>{{orders.ngayMua}}</p>
        </div> 
        <div class="product_add-name" style="display: flex;">
            <label for="inputState" style="margin-right: 22px;">Trạng thái:</label>
            <p v-if="orders.trangThai == 1">Đã giao</p>
            <p v-else>Chưa giao</p>
        </div>   
        <div class="product_add-name" style="display: flex;">
            <label for="inputState" style="margin-right: 22px;">Ngày tạo:</label>
            <p>{{orders.ngayTao}}</p>
        </div> 
    </div>
</div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
    data(){
        return{
            orders:{
                ten:'',
                sanPham:'',
                nguoiMua:'',
                phone:'',
                diaChi:'',
                ngayMua:'',
                trangThai:'',
                ngayTao:''
            },
            tenlg:'',
            anh:""
        }
    },
    methods:{
        ...mapActions('order',['GetOneOrder']),
        async getOneOrders(id){
            let response = await this.GetOneOrder(id)
            console.log(response);
            this.orders = response.data
        },
    },
    created(){
        this.getOneOrders(this.$route.params.id)
    }
}
</script>
<style scoped>
.grip{
    width: 1300px;
    max-width: 100%;
}
label{
    font-weight: 600;
}
</style>