<template>
<div>
    <div style="display: flex; margin-top: 150px;">
        <div>
            <img src="https://hanoimoi.com.vn/Uploads/Album/20170329/64063508-7cc9-4c39-b637-ed3429e75104.jpg">
        </div>
        <div style="width: 500px; border-radius: 2px;">
            <div style="padding: 20px 30px;">
                <div>
                    <h2 style="text-align: center; font-size: 30px; padding-bottom: 22px;">Đăng nhập</h2>
                <p style="text-align: center; font-size: 22px; padding-bottom: 22px; color: #939393;">Vui lòng nhập thông tin tài khoản để đăng nhập</p>
                <form>
                    <div style="padding-bottom: 22px;">
                        <label>Số điện thoại</label>
                        <input type="tel" placeholder="Nhập số điện thoại" v-model="users.phone"
                            style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">   
                    </div>
                    <div style="padding-bottom: 30px;">
                        <label>Mật khẩu</label>
                        <input type="password" placeholder="Nhập mật khẩu" v-model="users.password"
                            style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
                    </div>
                    <b-button style="width: 100%; margin-bottom: 22px;" variant="outline-success" @click="login(users)">Đăng nhập</b-button>
                    <div class="text-center">
                        <b-icon style="margin-right: 15px;" icon="facebook"></b-icon>
                        <b-icon icon="instagram"></b-icon>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import { mapActions } from 'vuex';
import Swal from 'sweetalert2';
export default {
    data() {
        return {
            users: {
                phone: '',
                password: ''
            }
        };
    },
    methods:{
        ...mapActions('login',["LoginUsers"]),
        validator() {
            let mappingErrorName = {
                phone: 'Số điện thoại',
                password:'Mật khẩu'
            }
            for (let key in mappingErrorName) {
                if (this.users[key].length < 1) {
                    Swal.fire(mappingErrorName[key] + ` không được trống`, '', 'warning')
                    return false
                }
                if (key == 'password') {
                    if (this.users[key].length <= 6) {
                        Swal.fire(mappingErrorName[key] + ` lớn hơn 6`, '', 'warning')
                        return false
                    }
                    continue;
                }
            }
            return true
        },
        async login(){
            if(!this.validator()) return;
            let response = await this.LoginUsers(this.users)
            if(response.data.code === 0){
                let token = response.data.token
                localStorage.setItem('token',JSON.stringify(token))
                this.$router.push({name:'admin.home'})
            }
            else{
                Swal.fire('Tài khoản hoặc mật khẩu không đúng')
            }
        },
    },
    
};
</script>
<style scoped>

</style>