<template>
<div>
    <div class="grip">
        <div style="background-color: #fff; padding: 50px;">
            <div style="padding: 20px 30px;">
                <div>
                    <h2 style="text-align: center; font-size: 30px; padding-bottom: 22px;">Đăng Ký</h2>
                <form>
                    <div style="padding-bottom: 22px;">
                        <label>Tên<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nhập tên đăng ký" v-model="users.ten">
                    </div>
                    <div style="padding-bottom: 30px;">
                        <label>Số điện thoại<span class="text-danger">*</span></label>
                      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Nhập số điện thoại đăng ký" v-model="users.phone">
                    </div>
                    <div style="padding-bottom: 30px;">
                        <label>Địa chỉ<span class="text-danger">*</span></label>
                      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Nhập số điện thoại đăng ký" v-model="users.diaChi">
                    </div>
                    <div style="padding-bottom: 30px;">
                        <label>ảnh<span class="text-danger">*</span></label>
                        <img :src="imageURL" height="150px">
                        <input  type="file" ref="fileInput" accept="imge/*" @change="onFilePicked">
                    </div>
                    <div style="padding-bottom: 30px;">
                        <label>Chức vụ<span class="text-danger">*</span></label>
                      <input min="0" max="1" type="number" class="form-control" id="formGroupExampleInput" placeholder="Nhập chức vụ đăng ký" v-model="users.chucVu">
                    </div>
                    <div style="padding-bottom: 30px;">
                        <label>Password<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nhập mật khẩu đăng ký" v-model="users.password">
                    </div>
                    <button style="width: 100%; margin-bottom: 22px;" type="button" class="btn btn-outline-primary" @click="login(users)">Đăng Ký</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'
export default {
    data(){
        return{
            users:{
                ten:"",
                phone:"",
                diaChi:"",
                anh:"",
                chucVu:"",
                password:"",
            },
            imageURL:null
        }
    },
    methods:{
        ...mapActions('login',["Register"]),
        onFilePicked(event){
            const files = event.target.files
            const fileReader = new FileReader()
            fileReader.addEventListener('load', () =>{
                this.imageURL = fileReader.result
            })
            fileReader.readAsDataURL(files[0]);
            this.image = files[0];
        },
        async createproduct(){
            if(!this.validator()) return;
            Swal.fire({
                title: 'Lưu thay đổi?',
                showCancelButton: true,
                confirmButtonText: 'Save',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    let response =  await this.Register(this.users)
                    console.log(response);
                    this.$router.push({name:'auth.login'})
                }
            })
        },
    },
}
</script>
<style scoped>
.grip{
    width: 1300px;
    max-width: 100%;
}
</style>