<template>
  <div class="grip">
    <div class="class home_list" style="display: flex;">
      <div>
        <div class="home_list-apexchart" id="chart" style="background-color: #fff; margin-right: 24px;">
          <apexchart type="bar" height="380" :options="chartOptions" :series="series"></apexchart>
        </div>
      </div>
      <div>
        <div class="home_list-apexchart" id="chart" style="background-color: #fff; margin-right: 24px;">
          <apexchart type="bar" height="380" :options="chartOptions" :series="series"></apexchart>
        </div>
      </div>
      <div>
        <div class="home_list-apexchart" id="chart" style="background-color: #fff; margin-right: 24px;">
          <apexchart type="bar" height="380" :options="chartOptions" :series="series"></apexchart>
        </div>
      </div>
      <div>
        <div class="home_list-apexchart home_list-none" id="chart" style="background-color: #fff;">
          <apexchart type="bar" height="380" :options="chartOptions" :series="series"></apexchart>
        </div>
      </div>
    </div>
    <div class="home_list-none">
      <apexchart type="area" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      series: [{
        name: 'Net Profit',
        data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
      }, {
        name: 'Revenue',
        data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
      }, {
        name: 'Free Cash Flow',
        data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
      }],
      chartOptions: {
        chart: {
          type: 'bar',
          height: 350
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        xaxis: {
          categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
        },
        yaxis: {
          title: {
            text: '$ (thousands)'
          }
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return "$ " + val + " thousands"
            }
          }
        }
      },

    }
  },
}
</script>
<style scoped>
.grip {
  width: 1300px;
  max-width: 100%;
}

/*mobile*/
@media (max-width:739px) {
  .class{
    padding: 15px;
  }
  .home_list {
    display: block !important;
    padding: 15px !important;
  }

  .home_list-apexchart {
    margin: 0 0 20px 0 !important;
  }

  .home_list-none {
    display: none !important;
  } 
}
</style>