<template>
    <div class="grip" style="background-color: #fff;">
        <div style="padding: 50px;">
            <div>
                <router-link to="/admin/product" style="text-decoration: none;font-size: 18px;color: #18a55b;">
                    <p style="margin-bottom: 35px;">
                        <b-icon icon="arrow-left" style="margin-right: 10px;"></b-icon>
                        Thêm mới sản phẩm
                    </p>
                </router-link>
            </div>
            <div style="padding-bottom: 22px;">
                <div>
                    <label for="inputState">Tên sản phẩm<span class="text-danger">*</span></label>
                    <p><input type="text" placeholder="Nhập tên sản phẩm" v-model="product.ten"
                            style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;"></p>
                </div>
                <div>
                    <label for="inputState">Phân loại sản phẩm<span class="text-danger">*</span></label>
                    <div>
                        <b-form-select v-model="product.phanLoai" style="padding: 5px;width: 100%;border-radius: 4px">
                            <option v-for="(config, index) in Configs" :key="index">{{ config.ten }}</option>
                        </b-form-select>
                    </div>
                </div>
            </div>
            <div class="product_add-name" style="display: flex; justify-content: space-between; padding-bottom: 22px;">
                <div>
                    <label for="inputState">Giá sản phẩm<span class="text-danger">*</span></label>
                    <p><input min="1" type="number" placeholder="Nhập giá sản phẩm" v-model="product.gia"
                            style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;"></p>
                </div>
                <div>
                    <label for="inputState">Số lượng sản phẩm<span class="text-danger">*</span></label>
                    <p><input min="1" type="number" placeholder="Nhập số lượng sản phẩm" v-model="product.soLuong"
                            style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;"></p>
                </div>
                <div>
                    <label for="inputState">Trạng thái sản phẩm sản phẩm<span class="text-danger">*</span></label>
                    <div>
                        <b-form-select v-model="product.trangThai" style="padding: 5px;width: 100%;border-radius: 4px">
                            <option>0</option>
                            <option>1</option>
                        </b-form-select>
                    </div>
                </div>
            </div>
            <div style="padding-bottom: 22px;">
                <label for="inputState">Giảm giá</label>
                <input min="1" type="number" placeholder="Nhập phần trăm giảm" v-model="product.giamGia"
                    style="padding: 5px;width: 100%;border-radius: 4px; border: 1px solid #000;">
            </div>
            <div style="padding-bottom: 22px;">
                <label for="inputState">Phụ trách<span class="text-danger">*</span></label>
                <input type="text" placeholder="Nhập phụ trách" v-model="product.phuTrach"
                    style="padding: 5px;width: 100%;border-radius: 4px; border: 1px solid #000;">
            </div>
            <div style="text-align: right;">
                <b-button variant="success" @click="createproduct">Lưu thông tin</b-button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'
export default {
    components: {
    },
    data() {
        return {
            Configs: [],
            product: {
                ten: '',
                phanLoai: '',
                gia: '',
                soLuong: '',
                trangThai: '',
                phuTrach: '',
                dinhKem: []
            },
            giamGia: ""
        }
    },
    methods: {
        ...mapActions('product', ['CreateProduct', 'GetConfig']),
        validator() {
            let mappingErrorName = {
                ten: 'Tên sản phẩm',
                phanLoai: 'Phân loại',
                gia: 'Giá',
                soLuong: 'Số lượng',
                trangThai: 'Trang thái',
                phuTrach: 'Phụ trách'
            }
            for (let key in mappingErrorName) {
                if (key == 'gia') {
                    if (Number(this.product[key]) <= 0) {
                        Swal.fire(mappingErrorName[key] + ` lớn hơn 0`, '', 'warning')
                        return false
                    }
                    continue;
                }
                if (key == 'soLuong') {
                    if (Number(this.product[key]) <= 0) {
                        Swal.fire(mappingErrorName[key] + ` lớn hơn 0`, '', 'warning')
                        return false
                    }
                    continue;
                }
                if (this.product[key].length < 1) {
                    Swal.fire(mappingErrorName[key] + ` không được trống`, '', 'warning')
                    return false
                }
            }
            return true
        },
        async getlistConfig() {
            let response = await this.GetConfig()
            this.Configs = response.data
        },
        async createproduct() {
            if (!this.validator()) return;
            Swal.fire({
                title: 'Lưu thay đổi?',
                showCancelButton: true,
                cancelButtonText: 'Bỏ qua',
                confirmButtonText: 'Lưu',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    this.product.soLuong = Number(this.product.soLuong)
                    this.product.gia = this.product.gia - this.product.gia * Number(this.giamGia) / 100
                    let response = await this.CreateProduct(this.product)
                    console.log(response);
                    this.$router.push({ name: 'admin.product' })
                }
            })
        },
    },
    created() {
        this.getlistConfig()
    }
}
</script>
<style scoped>
.grip {
    width: 1300px;
    max-width: 100%;
}

label {
    font-weight: 600;
}

/*mobile*/
@media (max-width:739px) {
    .product_add-name {
        display: block !important;
    }
}
</style>