<template>
    <div class="grip">
        <div>
            <div 
                class="grip-border-btn" style="background-color: #fff; padding: 50px;margin-bottom: 22px; display: flex;justify-content: space-between;">
                <div class="input_search col-sm-6 col-xs-12">
                    <!-- <b-form-select v-model="search" :options="options"></b-form-select> -->
                    <input type="text" placeholder="Nhập để tìm kiếm" v-model="search" style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
                </div>
                <div class="input_button col-sm-6 col-xs-12" style="text-align: right;">
                    <ul style="text-align: right; list-style: none; padding: 0;">
                        <li>
                            <router-link to="/admin/product/create">
                                <b-button variant="success">
                                    <b-icon icon="plus"></b-icon>
                                    Thêm mới
                                </b-button>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="padding: 50px; text-align: right;background-color: #fff;">
                <hr>
                <div class="grip-table  table-responsive">
                    <b-table-simple class="table tbody-tr"
                        style="background-color: #fcfcfc;text-align: center;font-size: 18px;">
                        <b-thead>
                            <b-tr class="tr-header">
                                <b-th style="text-align: left; padding: 15px; min-width: 150px;">Stt</b-th>
                                <b-th style="text-align: left; padding: 15px; min-width: 150px;">Tên sản phẩm</b-th>
                                <b-th style="text-align: left; padding: 15px; min-width: 150px;">Phân loại</b-th>
                                <b-th style="text-align: left; padding: 15px; min-width: 150px;">Giá</b-th>
                                <b-th style="text-align: left; padding: 15px; min-width: 150px;">Số lượng</b-th>
                                <b-th style="text-align: left; padding: 15px; min-width: 150px;">Trạng thái</b-th>
                                <b-th style="text-align: left; padding: 15px; min-width: 150px;">Phụ trách</b-th>
                                <b-th style="padding: 15px;" class="table-right">Thao tác</b-th>
                            </b-tr>
                        </b-thead>
                        <b-tbody v-if="productList.length > 0">
                            <tr v-for="(product, index) in productList" :key="index">
                                <b-th style="text-align: left; padding: 15px;">{{ index + 1 }}</b-th>
                                <b-td style="text-align: left; padding: 15px;">{{ product.ten }}</b-td>
                                <b-td style="text-align: left; padding: 15px;">{{ product.phanLoai }}</b-td>
                                <b-td style="text-align: left; padding: 15px;">{{ product.gia }}</b-td>
                                <b-td style="text-align: left; padding: 15px;">{{ product.soLuong }}</b-td>
                                <b-td style="text-align: left; padding: 15px;">
                                    <b-button class="btn bg-white"
                                        :class="{ 'btn-outline-danger': product.trangThai == 0, 'btn-outline-success': product.trangThai == 1 }"
                                        @click="status(product._id, product.trangThai)">
                                        {{ product.trangThai == 1 ? "Đã duyệt" : "Chưa duyệt" }}
                                    </b-button>
                                </b-td>
                                <b-td style="text-align: left; padding: 15px;">{{ product.phuTrach }}</b-td>
                                <b-td style="font-size: 20px; cursor: pointer; padding: 15px 0;">
                                    <b-icon style="margin-right: 20px;color: #18a55b;" class="icon-class"
                                        @click="$router.push({ name: 'admin.product.update', params: { id: product._id } })"
                                        icon="pencil-square"></b-icon>
                                    <b-icon style="color: #ef5350" class="icon-class" @click="deleteproduct(product._id)"
                                        icon="trash"></b-icon>
                                </b-td>
                            </tr>
                        </b-tbody>
                        <b-tbody style="text-align: center;display: table-caption;padding-top: 50px;" v-else>
                            Không có dữ liệu
                        </b-tbody>
                    </b-table-simple>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'
export default {
    data() {
        return {
            products: [],
            Configs: [],
            search: ''
        };
    },
    methods: {
        ...mapActions('product', ["ListProduct", "DeleteProduct", "GetConfig", "ChangeStatus"]),
        async listproduct() {
            let response = await this.ListProduct(this.$route.query);
            this.products = response.data;
        },
        async deleteproduct(id) {
            Swal.fire({
                title: 'Bạn có muốn xóa không?',
                showCancelButton: true,
                confirmButtonText: 'Đồng ý',
                cancelButtonText:'Bỏ qua',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    await this.DeleteProduct(id);
                    Swal.fire('Đã xóa!', '', 'success')
                    this.listproduct();
                }
            })
        },
        async listConfig() {
            let response = await this.GetConfig(this.$route.query)
            this.Configs = response.data
        },
        async status(id, trangThai) {
            Swal.fire({
                title: 'Bạn có muốn thay đổi trạng thái không?',
                showCancelButton: true,
                confirmButtonText: 'Save',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    if (trangThai === 1) {
                        trangThai = 0
                    }
                    else {
                        trangThai = 1
                    }
                    await this.ChangeStatus({ id, trangThai }),
                        this.listproduct();
                }
            })
        }
    },
    // watch: {
    //     "search": {
    //         handler() {
    //             this.$router.replace({ name: this.$route.name, query: { phanLoai: this.search } })
    //         },
    //         deep: true
    //     },
    //     "$route.query": {
    //         handler() {
    //             this.listproduct();
    //         },
    //         deep: true
    //     }
    // },
    created() {
        this.listConfig()
        this.listproduct();
    },
    computed:{
        productList(){
            return this.products.filter((element) =>{
                return element.ten.match(this.search)
            })
        }
    }
}
</script>
<style scoped>
.grip {
    width: 1300px;
    max-width: 100%;
}

.color_pen:hover {
    background-color: #18a55b;
    color: #fff !important;
}

.color_train:hover {
    background-color: #ef5350;
    color: #fff !important;
}

.tbody-tr tbody tr:last-of-type {
    border-bottom: 2px solid #18a55b;
}
@media (max-width:739px){
    .grip-border-btn{
        display: block !important;
    }
    .input_search{
        margin-bottom: 18px !important;
    }
}
</style>
