<template>
<div class="grip" style="background-color: #fff;">
    <div style="padding: 50px;">
        <div>
            <router-link to="/admin/product" style="text-decoration: none;font-size: 18px;color: #18a55b;">
                <p style="margin-bottom: 35px;">
                    <b-icon icon="arrow-left" style="margin-right: 10px;"></b-icon>
                    Chỉnh sửa sản phẩm
                </p>
            </router-link>
        </div>
        <div style="padding-bottom: 22px;">
            <label for="inputState">Tên sản phẩm<span class="text-danger">*</span></label>
            <input type="text" placeholder="Nhập tên sản phẩm" v-model="product.ten" style="padding: 5px;width: 100%;border-radius: 4px; border: 1px solid #000;">     
        </div>
        <div style="padding-bottom: 22px;">
            <label for="inputState">Phân loại sản phẩm<span class="text-danger">*</span></label>
            <b-form-select v-model="product.phanLoai" style="padding: 5px;width: 100%;border-radius: 4px; border: 1px solid #000;">
                <option v-for="(config, index) in Configs" :key="index" :value="config.ten">{{config.ten}}</option>
            </b-form-select>
        </div>
        <div>
            <div style="padding-bottom: 22px;">
                <label for="inputState">Giá sản phẩm<span class="text-danger">*</span></label>
                <input min="1" type="number" placeholder="Nhập giá sản phẩm" v-model="product.gia" style="padding: 5px;width: 100%;border-radius: 4px; border: 1px solid #000;">
            </div>
            <div style="padding-bottom: 22px;">
                <label for="inputState">Số lượng sản phẩm<span class="text-danger">*</span></label>
                <input min="1" type="number" placeholder="Nhập số lượng sản phẩm" v-model="product.soLuong" style="padding: 5px;width: 100%;border-radius: 4px; border: 1px solid #000;">
            </div>
            <div class="product_update" style="padding-bottom: 22px; display: flex; justify-content: space-between;">
                <div class="product_update-status">
                    <label for="inputState">Trạng thái sản phẩm sản phẩm<span class="text-danger">*</span></label>
                    <div>
                        <b-form-select v-model="product.trangThai" style="padding: 5px;width: 100%;border-radius: 4px; border: 1px solid #000;">
                            <option>0</option>
                            <option>1</option>
                        </b-form-select>
                    </div>
                </div>
                <div>
                    <label for="inputState">Phụ trách<span class="text-danger">*</span></label>
                    <p><input type="text" placeholder="Nhập phụ trách" v-model="product.phuTrach" style="padding: 5px;width: 100%;border-radius: 4px; border: 1px solid #000;"></p>
                </div>
            </div>
        </div>
        <div style="text-align: right;">
            <b-button variant="success" @click="updateproduct">Cập nhật</b-button>
        </div>
    </div>
</div>
</template>
<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'
export default {
    data(){
        return{
            Configs: [],
            product:{
                ten:'',
                phanLoai:'',
                gia:'',
                soLuong:'',
                trangThai:'',
                phuTrach:''
            },
        }
    },
    methods:{
        ...mapActions('product',['GetConfig','UpdateProduct','GetOneProduct']),
        validator() {
            let mappingErrorName = {
                ten: 'Tên sản phẩm',
                phanLoai:'Phân loại',
                gia:'Giá',
                soLuong:'Số lượng',
                trangThai:'Trang thái',
                phuTrach:'Phụ trách'
            }
            for (let key in mappingErrorName) {
                if (key == 'gia') {
                    if (Number(this.product[key]) <= 0) {
                        Swal.fire(mappingErrorName[key] + ` lớn hơn 0`, '', 'warning')
                        return false
                    }
                    continue;
                }
                if (key == 'soLuong') {
                    if (Number(this.product[key]) <= 0) {
                        Swal.fire(mappingErrorName[key] + ` lớn hơn 0`, '', 'warning')
                        return false
                    }
                    continue;
                }
                if (this.product[key].length < 1) {
                    Swal.fire(mappingErrorName[key] + ` không được trống`, '', 'warning')
                    return false
                }
            }
            return true
        },
        async getlistConfig(){
            let response = await this.GetConfig()
            this.Configs = response.data
        },
        async updateproduct(){
            if(!this.validator()) return;
            Swal.fire({
                title: 'Lưu thay đổi ?',
                showCancelButton: true,
                cancelButtonText:'Bỏ qua',
                confirmButtonText: 'Lưu',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    let response = await this.UpdateProduct(this.product)
                    if(response.code === 0){
                        Swal.fire('Thành công')
                        this.$router.push({name:'admin.product'})
                    }
                }
            })
            
        },
        async getOneProduct(){
            let response = await this.GetOneProduct(this.$route.params.id)
            this.product = response.data
        },
    },
    async created(){
        await this.getOneProduct()
        await this.getlistConfig()
    }
}
</script>
<style scoped>
.grip{
    width: 1300px;
    max-width: 100%;
}
label{
    font-weight: 600;
}
@media (max-width:739px){
    .product_update{
        display: block !important;
    }
    .product_update-status{
        padding-bottom: 22px;
    }   
}
</style>