<template>
    <div class="grip">
        <div>
            <div style="background-color: #fff;padding: 50px;">
                <div>
                    <router-link to="/admin/config" style="text-decoration: none;font-size: 18px;color: #18a55b;">
                        <p style="margin-bottom: 35px;">
                            <b-icon icon="arrow-left" style="margin-right: 10px;"></b-icon>
                            Thêm mới danh mục
                        </p>
                    </router-link>
                </div>
                <div class="product_add-name">
                    <label for="inputState">Tên danh mục<span class="text-danger">*</span></label>
                    <input type="text" placeholder="Nhập tên danh mục" v-model="config.ten"
                        style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;margin-bottom: 22px;">
                </div>
                <div class="product_add-name">
                    <label for="inputState">Mô tả<span class="text-danger">*</span></label>
                    <input type="text" placeholder="Nhập tên danh mục" v-model="config.moTa"
                        style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;margin-bottom: 22px;">
                </div>
                <div style="padding-bottom: 30px; ">
                    <label>ảnh<span class="text-danger">*</span></label>
                    <input type="text" placeholder="Nhập tên danh mục" v-model="config.anh"
                        style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;">
                </div>
                <div style="text-align: right; margin-top: 30px;" class="product_add-name">
                    <b-button variant="success" style="margin-left: 22px;" @click="CreateConfig">Lưu thông tin</b-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'
export default {
    data() {
        return {
            config: {
                ten: '',
                cauHinh: 'danhmuc',
                moTa:'',
                anh:''
            },
            imageURL:null
        }
    },
    methods: {
        ...mapActions('config', ['ConfigCreate']),
        onFilePicked(event){
            const files = event.target.files
            const fileReader = new FileReader()
            fileReader.addEventListener('load', () =>{
                this.imageURL = fileReader.result
                this.config.anh = fileReader.result
            })
            fileReader.readAsDataURL(files[0]);
        },
        validator() {
            let mappingErrorName = {
                ten: 'Tên danh mục',
                moTa: 'Mô tả',
                anh: 'ảnh',
            }
            for (let key in mappingErrorName) {
                if (this.config[key].length < 1) {
                    Swal.fire(mappingErrorName[key] + ` không được trống`, '', 'warning',)
                    return false    
                }
            }
            return true
        },
        async CreateConfig() {
            if (!this.validator()) return;
            Swal.fire({
                title: 'Lưu dữ liệu ?',
                showCancelButton: true,
                cancelButtonText:'Bỏ qua',
                confirmButtonText: 'Lưu',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    await this.ConfigCreate(this.config)
                    Swal.fire('Đã lưu!', '', 'success')
                    this.$router.push({ name: 'admin.config' })
                }
            })
        },
    }
}
</script>
<style scoped>
.grip {
    width: 1300px;
    max-width: 100%;
}
label{
    font-weight: 600;
}
</style>