<template>
    <div class="grip">
        <div>
            <div class="config_list " style="padding: 50px;background-color: #fff; text-align: left;">
                <div class="config_list-button" style="text-align: right;">
                    <router-link to="/admin/config/create">
                        <b-button variant="success">
                            <b-icon icon="plus"></b-icon>
                            Thêm mới
                        </b-button>
                    </router-link>
                </div>
                <hr>
                <div class="grip-table  table-responsive">
                    <b-table-simple class="table tbody-tr"
                        style="background-color: #fcfcfc;text-align: center;font-size: 18px;">
                        <b-thead>
                            <b-tr class="tr-header">
                                <b-th style="text-align: left; padding: 15px; min-width: 150px;">Stt</b-th>
                                <b-th style="text-align: left; padding: 15px; min-width: 150px;">Tên danh mục</b-th>
                                <b-th style="text-align: left; padding: 15px; min-width: 150px;">ảnh</b-th>
                                <b-th style="text-align: left; padding: 15px; min-width: 350px;">Mô tả</b-th>
                                <b-th style="padding: 15px;min-width: 150px;" class="table-right">Thao tác</b-th>
                            </b-tr>
                        </b-thead>
                        <b-tbody v-if="items.length > 0">
                            <tr v-for="(item, index) in items" :key="index">
                                <b-th style="text-align: left; padding: 15px;">{{ index + 1 }}</b-th>
                                <b-td style="text-align: left; padding: 15px;">{{ item.ten }}</b-td>
                                <b-td style="text-align: left; padding: 15px;">
                                    <img :src='item.anh' style="width: 42px;height: 42px;border-radius: 5px;">
                                </b-td>
                                <b-td style="text-align: left; padding: 15px;">{{ item.moTa }}</b-td>
                                <b-td style="font-size: 20px; cursor: pointer; padding: 15px 0;">
                                    <b-icon style="margin-right: 20px;color: #18a55b;" class="icon-class"
                                        @click="$router.push({ name: 'admin.config.update', params: { id: item._id } })"
                                        icon="pencil-square"></b-icon>
                                    <b-icon style="color: #ef5350" class="icon-class" @click="deleteConfig(item._id)"
                                        icon="trash"></b-icon>
                                </b-td>
                            </tr>
                        </b-tbody>
                        <b-tbody style="text-align: center;display: table-caption;padding-top: 50px;" v-else>
                            Không có dữ liệu
                        </b-tbody>
                    </b-table-simple>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'
export default {
    data() {
        return {
            search: "",
            items: [],
        }
    },
    methods: {
        ...mapActions('config', ['GetConfig', 'DeleteConfig']),
        async listConfig() {
            let response = await this.GetConfig(this.$route.query)
            this.items = response.data
        },
        async deleteConfig(id) {
            Swal.fire({
                title: 'Bạn có muốn xóa không',
                showCancelButton: true,
                confirmButtonText: 'Đồng ý',
                cancelButtonText:'Bỏ qua',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    await this.DeleteConfig(id)
                    Swal.fire('Đã lưu', '', 'success')
                    this.listConfig()
                }
            })
        },
    },
    created() {
        this.listConfig()
    },
    computed: {
        configlish() {
            return this.items.filter((element) => {
                return element.ten.match(this.search)
            })
        }
    }
}
</script>
<style scoped>
.grip {
    width: 1300px;
    max-width: 100%;
}
.tbody-tr tbody tr:last-of-type {
    border-bottom: 2px solid #18a55b;
}
/*mobile*/
@media (max-width:739px){
}
</style>