<template>
    <div class="grip" style="background-color: #fff;">
        <div class="update" style="padding: 50px;">
            <div>
                <router-link to="/admin/config" style="text-decoration: none;font-size: 18px;color: #18a55b;">
                    <p style="margin-bottom: 35px;">
                        <b-icon icon="arrow-left" style="margin-right: 10px;"></b-icon>
                        Chỉnh sửa danh mục
                    </p>
                </router-link>
            </div>
            <div>
                 <div class=" product_add-name">
                     <label for="exampleInputEmail1">Tên cấu hình<span class="text-danger">*</span></label>
                     <input type="text" placeholder="Nhập tên cấu hình" v-model="config.ten" 
                        style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;margin-bottom: 22px;">
                 </div>
                 <div class="product_add-name">
                    <label for="inputState">Mô tả<span class="text-danger">*</span></label>
                    <input type="text" placeholder="Nhập tên danh mục" v-model="config.moTa"
                        style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;margin-bottom: 22px;">
                </div>
                <div style="padding-bottom: 30px; ">
                    <label>ảnh<span class="text-danger">*</span></label>
                    <input type="text" placeholder="Nhập tên danh mục" v-model="config.anh"
                        style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;margin-bottom: 22px;">
                </div>
             <div style="text-align: right;margin-top: 30px;">
                 <b-button variant="success" @click="updateConfigs">Cập nhật</b-button>
             </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'
export default {
    data() {
        return {
            config: {
                ten: "",
            }
        };
    },
    methods: {
        ...mapActions("config", ["UpdateConfig", "GetOneConfig"]),
        validator() {
            let mappingErrorName = {
                ten: 'Tên danh mục',
                moTa: 'Mô tả',
                anh: 'ảnh',
            }
            for (let key in mappingErrorName) {
                if (this.config[key].length < 1) {
                    Swal.fire(mappingErrorName[key] + ` không được trống`, '', 'warning')
                    return false
                }
            }
            return true
        },
        async updateConfigs() {
            if (!this.validator()) return;
            Swal.fire({
                title: 'Lưu thay đổi ?',
                showCancelButton: true,
                cancelButtonText:'Bỏ qua',
                confirmButtonText: 'Lưu',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    let response = await this.UpdateConfig(this.config);
                    if (response.code === 0) {
                        Swal.fire("Cập nhật thành công");
                        this.$router.push({ name: "admin.config" });
                    }
                }
            })
            
            
        },
        async getFinOne(id) {
            let response = await this.GetOneConfig(id);
            this.config = response.data;
        },
    },
    created() {
        this.getFinOne(this.$route.params.id);
    },
}
</script>
<style scoped>
.grip{
    width: 1300px;
    max-width: 100%;
}
label{
    font-weight: 600;
}
</style>