<template>
    <div class="grip">
        <div>
            <div class="search" style="background-color: #fff; margin-bottom: 22px;padding: 50px; display: flex; justify-content: space-between;bs-gutter-x:0">
                <div class="input_search col-sm-6 col-xs-12">  
                    <input type="text" placeholder="Nhập để tìm kiếm" v-model="search" style="padding: 5px;width: 100%;border-radius: 4px;border: 1px solid #000;"></div>
                <div class="input_button col-sm-6 col-xs-12" style="text-align: right;">
                    <router-link to="/admin/users/create">
                        <b-button variant="success">
                            <b-icon icon="plus"></b-icon>
                            Thêm mới
                        </b-button>
                    </router-link>
               </div>
            </div>
            <div class="grip-table" style="padding: 50px;background-color: #fff; text-align: right;font-size: 16px;">
                <div class="table-responsive tbody-tr">
                    <b-table-simple class="table table-hover" style="width: 100%;background-color: #fcfcfc;">
                        <b-thead style="padding: 30px 0;padding: 15px 0;">
                            <b-th style="width: 150px;text-align: left; padding: 15px ;">Stt</b-th>
                            <b-th style="width: 45px;text-align: left;padding: 15px;min-width: 150px;">Tên người dùng</b-th>
                            <b-th style="text-align: left;padding: 15px;min-width: 150px;">Số điện thoại</b-th>
                            <b-th style="text-align: left;padding: 15px;min-width: 150px;">Địa chỉ</b-th>
                            <b-th style="text-align: left;padding: 15px;min-width: 150px;">ảnh</b-th>
                            <b-th style="text-align: left;padding: 15px;min-width: 150px;">Chức vụ</b-th>
                            <b-th style="text-align: left;padding: 15px;min-width: 150px;">Người dùng</b-th>
                        </b-thead>
                        <b-tbody v-if="userslish.length > 0">
                            <b-tr v-for="(user, index) in userslish" :key="index">
                                <b-th style="text-align: left; padding: 15px ;">{{ index + 1 }}</b-th>
                                <b-td style="text-align: left; padding: 15px ;">{{ user.ten }}</b-td>
                                <b-td style="text-align: left; padding: 15px ;">{{ user.phone }}</b-td>
                                <b-td style="text-align: left; padding: 15px ;">{{ user.diaChi }}</b-td>
                                <b-td style="text-align: left; padding: 10px ;">
                                    <img :src='user.anh' style="width: 42px;height: 42px;border-radius: 5px;">
                                </b-td>
                                <b-td style="text-align: left; padding: 15px ;" v-if="user.chucVu == 0">
                                    <span style="border: 1px solid #18a55b;padding: 5px;border-radius: 9px;background-color: #18a55b;color: #fff;"
                                    >Người dùng</span>
                                </b-td>
                                <b-td style="text-align: left; padding: 15px ;">{{ user.password }}</b-td>
                            </b-tr>
                        </b-tbody>
                        <b-tbody style="text-align: center;display: table-caption;padding-top: 50px;" v-else>
                            Không có dữ liệu
                        </b-tbody>
                    </b-table-simple>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
    data(){
        return{
            users:[],
            search:""
        }
    },
    methods:{
        ...mapActions('user',["ListUser"]),
        async listUse() {
            let response = await this.ListUser(this.$route.query)
            this.users = response.data
        },
    },
    created(){
        this.listUse()
    },
    computed:{
        userslish(){
            return this.users.filter((element) =>{
                return element.ten.match(this.search)
            })
        }
    }
}
</script>
<style scoped>
.grip{
    width: 1300px;
    max-width: 100%;
}
.tbody-tr tbody tr:last-of-type {
    border-bottom: 2px solid #18a55b;
}
@media (max-width:739px){
    .input_search{
        margin-bottom: 18px;
    }
    .input_button{
        text-align: right;
    }
    .search{
        display: block !important;
    }
}
</style>