<template>
    <div class="grip">
        <div style="background-color: #fff; color:#000">
            <div style="padding-top: 50px;">
                <router-link to="/admin/home" style="text-decoration: none;font-size: 18px;color: #18a55b;">
                    <p style="padding: 0 0 0 50px;">
                        <b-icon icon="arrow-left" style="margin-right: 10px;"></b-icon>
                        Hồ sơ cá nhân
                    </p>
                </router-link>
            </div>
            <div style="text-align: center;padding: 50px;">
                <img :src='users.anh' style="width: 120px;height: 120px;border-radius: 50%;">
            </div>
            <div style="padding: 0 100px 50px;">
                <div class="product_add-name" style="padding-bottom: 22px;">
                    <label for="inputState">Tên người dùng:*</label>
                    <b-form-input type="text" placeholder="Nhập tên người dùng" v-model="users.ten"></b-form-input>     
                </div>
                <div class="product_add-name" style="padding-bottom: 22px;">
                    <label for="inputState">Địa chỉ người dùng:*</label>
                    <b-form-input type="text" placeholder="Nhập tên địa chỉ người dùng" v-model="users.diaChi"></b-form-input>     
                </div>
                <div class="product_add-name" style="padding-bottom: 22px;">
                    <label for="inputState">Phone:*</label>
                    <b-form-input type="text" placeholder="Nhập điện thoại người dùng" v-model="users.phone"></b-form-input>     
                </div>
                <div class="product_add-name" style="padding-bottom: 22px;">
                    <label for="inputState">Phone:*</label>
                    <b-form-input type="text" placeholder="Nhập điện thoại người dùng" v-model="users.password"></b-form-input>     
                </div>
                <div style="text-align: right;" class="product_add-name">
                    <b-button variant="success" @click="updateUser">Cập nhật</b-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'
export default {
    data(){
        return{
           users:{
                ten:'',
                anh:'',
                diaChi:'',
                phone:'',
                password:''
           }
        }
    },
    methods:{
        ...mapActions('user',['UpdateUser','GetOneUser']),
        validator() {
            let mappingErrorName = {
                ten: 'Tên người dùng',
                diaChi:'Địa chỉ',
                phone:'Số điện thoại',
                password:'Mật khẩu',
            }
            for (let key in mappingErrorName) {
                if (this.users[key].length < 1) {
                    Swal.fire(mappingErrorName[key] + ` không được trống`, '', 'warning')
                    return false
                }
            }
            return true
        },
        async getOneUser(){
            let response = await this.GetOneUser(this.$route.params.id)
            this.users = response.data
        },
        async updateUser(){
            if(!this.validator()) return;
            Swal.fire({
                title: 'Lưu thay đổi?',
                showCancelButton: true,
                cancelButtonText:'Bỏ qua',
                confirmButtonText: 'Lưu',
            }).then(async (result) => {
                if (result.isConfirmed) {
                    let response = await this.UpdateUser(this.users)
                    if(response.code === 0){
                        Swal.fire('Thành công')
                        this.$router.push({name:'admin.home'})
                    }
                }
            })
        },
    },
    async created(){
        await this.getOneUser()
    }
}
</script>
<style scoped>
.grip{
    width: 1300px;
    max-width: 100%;
}
</style>